        body{
        background: rgb(0, 0, 0);
        background-size: cover;
        font-family: 'JetBrains Mono', monospace;
        color: rgb(11, 204, 72);
        }
        .container{
        display: inline-block;
        }
        .typing{
        overflow: hidden;
        border-right: .15em solid rgb(11, 204, 72);
        white-space: nowrap;
        animation: 
        typing var(--animation-length, 1s) steps(200, end) forwards;
        font-size: 1.6rem;
        width: 0;
        font-family: 'JetBrains Mono', monospace;
        animation-delay: var(--animation-delay, 0s);
        }
        .typing{
        overflow: hidden;
        border-right: .15em solid rgb(11, 204, 72);
        white-space: nowrap;
        animation: 
        typing var(--animation-length, 2s) steps(200, end) forwards;
        font-size: 1.6rem;
        width: 0;
        font-family: 'JetBrains Mono', monospace;
        animation-delay: var(--animation-delay, 0s);
        }
    .btn {
            background: rgb(0, 0, 0);
        background-size: cover;
        font-family: 'JetBrains Mono', monospace;
        padding: 16px, 16px;
        font-size: 2rem;
        align-self: center;
        color: rgb(11, 204, 72);
        border-color: rgb(11, 204, 72);
        border-width: 0.1rem;
    }
    .btn:hover{
        background: rgb(11, 204, 72);
        color: rgb(0,0,0);
    }
        @keyframes typing {
        from { width: 0 }
        to { width: 100% }
        }